## Clojure / Leiningen
target/
classes/
checkouts/
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.cpcache/

## IDE
.idea/
.vscode/
*.iml
.calva/

## OS
.DS_Store
Thumbs.db

## SQLite
*.db
*.db-journal
*.db-wal
*.db-shm
